    @media( min-wadeth: 1200px) {
        main {
            display: grid grid-template-columns repeat(1fr, 1fr, 1fr);
        }
        card h2 {
            font-size: 1.2rem;
        }
        card h1 {
            font-size: 1.2rem;
        }
    }