    @media( max-wideth: 1200px) {
        .main {
            min-width: 96%
        }
        card h1 {
            font-size: 1.2rem;
        }
        card h1 {
            font-size: 1.2rem;
        }
    }