    @media( max-wideth: 1200px) {
        main {
            display: grid grid-template-columns repeat(3fr, 1fr);
        }
        card h1 {
            font-size: 1.2rem;
        }
        card h1 {
            font-size: 1.2rem;
        }
    }