@media (min-width:560px) {
    .main {
        display: flex;
        grid-template-columns: auto;
    }
    .card h2 {
        font-size: 16px;
    }
    .card a,
    p {
        font-size: 16px;
    }
}