    @media only screen and (min-width: 32.5rem) {
    .h1 {
        font-size: 2.5em;
    }
    .h2 {
        font-size: 1.5em;
    }
    .header,
    footer {
        border-radius: 10px;
    }
    .heater img {
        Box-shadow: 0 0 30px #ffffff;
        float: right;
        border-radius: 0 10px 0 0;
    }