body {
    font-size: 18px;
    line-height: normal;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    display: flex;
    background-color: #0f3133;
    color: #fff;
    text-align: center;
    padding-right: 1.5;
    border-radius: 1rem;
}

h img {
    float: left;
    margin-left: 150px;
}