body {
    max-width: 760px;
    padding: center;
    line-height: 1.5rem auto;
    background-color: #ffffff;
}

header,
nav,
main,
footer {
    display: flex;
    background-color: #0f3133;
    font-family: 'Grechen Fuemen', cursive;
    color: #ffffff;
    border-radius: 1rem;
    text-align: center;
}

profile-picture {
    width: 200px;
    height: 250px;
}

h1 {
    font-size: 1.5em;
    margin: 0.15em;
    font-family: 'Grechen Fuemen', cursive;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #0f3133;
    margin: 0.5em;
}

footer {
    background-color: #0f3133;
    color: #ffffff;
    border-radius: 1rem;
    font-size: .9rem;
}

ul {
    margin-left: 1.5rem;
}