body {
    font-size: 18px;
    line-height: 1.5;
}

header,
footer {
    display: flex;
    background-color: #0f3133;
    font-family: 'Grechen Fuemen', cursive;
    color: #ffffff;
    border-radius: 1rem;
    margin: 1.25rem;
    max-width: 760px;
}

profile-picture {
    width: 100px;
    height: 150px;
}

h1 {
    font-size: 1.5em;
    margin: 0.15em;
    font-family: 'Grechen Fuemen', cursive;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #0f3133;
    margin: 0.5em;
}

footer {
    background-color: #0f3133;
    color: #ffffff;
    border-radius: 1rem;
    font-size: .9rem;
}