@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', Arial, sans-serif;
}

footer,
main {
    max-width: 80em;
    margin: 0 auto;
}

header,
nav {
    margin: 0 auto;
}

header {
    background-color: #153e5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.headings h1 {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}

.ner {
    color: #f2be54;
    font-style: italic;
    font-size: 12px;
}

nav button {
    display: none;
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(14, 13, 13);
}

nav {
    background-color: rgb(250, 243, 243);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}