@media (min-width: 1025px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    nav ul li.hide~* a {
        /* display: none; */
        padding: 0;
        height: 0;
    }
}