body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    color: rgb(21, 21, 131);
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

h2 {
    color: rgb(43, 43, 91);
}

main {
    padding: 5px;
    box-shadow: 0 0 20px rgb(74, 69, 69);
}

section {
    border: 1px solid rgb(139, 139, 218);
    border-radius: 10px;
    text-align: center;
    background-color: lightgrey;
}

img {
    margin-bottom: 10px;
    width: 175px;
    box-shadow: -1px 1px 5px 7px #66565646;
}

footer {
    height: 25px;
    text-align: center;
    background-color: lightgrey;
}

@media only screen and (min-width: 650px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1100px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}