@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

main {
    background-color: #03333f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #03333f;
    color: white;
}

header h1 {
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
    color: white;
}

nav {
    background-color: #297975;
}

nav ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0px 180px;
    display: inline;
    borther-bottom: 1px #000 solid;
}

nav ul {
    padding: 15px;
    flex: 1 1 auto;
    /* nav buttons span full width */
}

nav:hover {
    text-decoration: bright;
}

a {
    color: white;
}

a:hover {
    color: yellow;
}